:root {
    --sport-purple: #2E1A47;
    --sport-yellow: #F2B705;
    --sport-white: #FFFFFF;
    --dash-user: #0d6efd;   /* Azul */
    --dash-coach: #198754;  /* Verde */
    --dash-admin: #6f42c1;  /* Morado */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main { flex: 1; }

.bg-corporate { background-color: var(--sport-purple) !important; color: var(--sport-white) !important; }
.text-corporate { color: var(--sport-purple) !important; }
.btn-corporate { background-color: var(--sport-yellow); color: var(--sport-purple); font-weight: bold; border: none; }
.btn-corporate:hover { background-color: #d4a004; color: var(--sport-purple); }

.navbar-user { background-color: var(--dash-user) !important; }
.navbar-coach { background-color: var(--dash-coach) !important; }
.navbar-admin { background-color: var(--dash-admin) !important; }

.card { border: none; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.05); }

footer { background-color: var(--sport-purple); color: white; padding: 20px 0; text-align: center; margin-top: auto;}